numpy
chex
gym
dm-tree
bsuite
dm-control
jax
flax
dm-launchpad
pillow
dm-env
rlax
trfl
dm-haiku
tensorflow
jaxlib
dm-sonnet
absl-py
tensorflow_datasets
optax
rlds
typing-extensions
tensorflow_probability
pygame
dm-reverb
